@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes walking {
  0% {
    transform: translateX(-100px);
  }
  45% {
    transform: translateX(calc(50vw - 200px));
  }
  55% {
    transform: translateX(calc(50vw - 200px)) scaleX(-1);
  }
  100% {
    transform: translateX(-100px) scaleX(-1);
  }
}

@keyframes step {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.walking-person {
  animation: walking 6s ease-in-out infinite;
}

.walking-person svg {
  animation: step 0.5s ease-in-out infinite;
}
